@font-face { font-family:source_code_problack;src:url(sourcecodepro.svg#source_code_problack) format(svg); }
@font-face { font-family:source_code_prosemibold;src:url(sourcecodepro.svg#source_code_prosemibold) format(svg); }

html, body { width: 320px; }
body { background-image:url('/var/mobile/Library/SpringBoard/Converted-LockBackground.jpg'); background-repeat:no-repeat; background-size:320px auto; font-family:source_code_problack; margin:0; padding:0; }

#forecast, #clock { width: 320px; margin: 0 auto; }

#time { font-size:87px;margin:0 auto -12px auto;text-align: center; }
#date { font-size:48px;margin:0 auto 0 auto; text-align: center; }

#weather, #weather tr, #weather th, #weather td, table { font-family:'source_code_prosemibold'; font-size: 20px; text-align: right; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; }
#forecast small { font-size: 11px; }
#forecast xs { font-size: 5px; }
#forecast table { margin: 0px auto 10px auto; width: 280px; padding-left: 3px;}
#forecast th { width:20px; }
#forecast tr { display:block; height:32px; }

#forecast .image { width:53px; }
#forecast .image img { width: 38px; height: 38px; }
#forecast .ned { width:53px; }
#forecast .plus { width:60px; }
#forecast .minus { width:50px; }
#forecast .v { width: 30px; }
#forecast .v img { width: 20px; height: 38px; }
#forecast .ms { width:50px; }

#clock, #forecast { border-radius: 10px; }
#clock { width: 290px; padding: 5px 0; }
#forecast { width: 300px; padding-bottom: 2px; }

.white { color: #FFF; }
.black { color: #000; }
.white.translucent #clock, .white.translucent #forecast { background-color: rgba(0, 0, 0, 0.6) }
.black.translucent #clock, .black.translucent #forecast { background-color: rgba(255, 255, 255, 0.6) }

.swipe { overflow: hidden; visibility: hidden; position: relative;  }
.swipe-wrap { overflow: hidden; position: relative; }
.swipe-wrap > div { float:left; width:100%; position: relative; }

.ipad { background-size:1024px 1024px }
.ipad .swipe { visibility: visible; }
.ipad.weather #clock { margin: -400px 0 0 10px; width: 300px;border-bottom-left-radius: 0;border-bottom-right-radius: 0}
.ipad.weather #forecast { margin: -238px 0 0 10px; border-top-left-radius: 0; border-top-right-radius: 0}
.ipad .swipe-wrap > div { position: absolute; }

.swipe, .swipe-wrap, .middle, .cell { height:100%; }
.middle { display:table; }
.cell { display:table-cell; vertical-align:middle; }

#error { display: none; text-align: center; padding: 15px 15px 13px 15px; margin-left:auto;margin-right:auto; width: 270px; font-family:'source_code_prosemibold'; font-size: 14px; }
